* {
	margin: 0;
	padding: 0;
}

html,body {
	height: 100%;
	width: 100%;
	min-width: 930px;
}

h1 {
	font-family: 'Bungee Shade', cursive;
	text-align: center;
	font-size: 7em;
}

form {
	text-align: center;
	margin: 100px 100px 30px 100px;
}

form input {
	height: 30px;
	width: 200px;
	padding: 5px;
}

a {
	text-decoration: none;
	color: black;
}

#submit {
	margin: 5px;
	width: 220px;
	height: 70px;
	background-color: rgb(0,0,0);
	font-family: 'Bungee Shade', cursive;
	color: rgb(255,255,255);
	line-height:50px;
	font-size: 30px;
}

#result {
	display: block;
	text-align: center;
	height: 80px;
}

#result p {
	width: 25%;
	height: 80px;
	line-height: 80px;
	background-color: rgb(37,197,191);
	display: inline-block;
	color:white;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 4px;
	font-size: 50px;
}

.loader_container {
	display: block;
	text-align: center;
	margin-bottom: 30px
}

.loader {

  display: inline-block;
  border: 25px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(114, 255, 159);
  border-right: 16px solid rgb(255, 164, 164);
  border-bottom: 16px solid rgb(255, 242, 126);
  border-left: 16px solid rgb(116, 255, 251);
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  box-shadow: 0px 0px 30px 5px rgba(0, 188, 212, 0.3);

}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



@media screen and (max-width: 1000px) {
    body {
        background-color: #00bcd4;
    }

    h1 {
    	font-size: 5em;
    }

    form input {
		height: 100px;
		width: 700px;
		padding: 5px;
		font-size: 3em;
		text-align: center;
	}

	#submit {
		margin: 5px;
		width: 720px;
		height: 200px;
		font-size: 3em;
		letter-spacing: 10px;
	}

	#result {
		height: 160px;
	}

	#result p {
		width: 50%;
		height: 160px;
		line-height: 160px;
		background-color: #FF5722;
		display: inline-block;
		color:white;
		font-family: 'Quicksand', sans-serif;
		letter-spacing: 4px;
		font-size: 4em;
	}
}